%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
        Goal
      %th
        Activity
      %th
        Data
      %th
        &nbsp;
  %tbody
    - current_user.goal_integrations.each do |goal_integration|
      %tr
        %td
          = goal_integration.goal_title
        %td
          = goal_integration.activity_type
        %td
          = goal_integration.matching_activities
        %td
          / Commenting out edit - it's possible to change something and have the integration ping beeminder a whole bunch.
          / # = link_to 'Edit', edit_goal_integration_path(goal_integration), class: 'btn btn-primary'
          = link_to 'Delete', goal_integration, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'